html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

.item {
  padding: 10px;
  justify-content: center;
  text-align: center;
  font-size: large;
}

.col-6 {
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}


