html, body {
  overflow-x: hidden;
}
body {
  position: relative
}

.ca {
  justify-content: center;
  margin-top: 40px;
}
.container {
  /* background-color: red; */
  padding: 4rem 3rem 1rem 3rem;
  width: 0 auto;
  margin: 0 auto;
}

