<ngx-ui-loader></ngx-ui-loader>
<div class="container">
  <div class="mx-auto">
    <div class="form-group col-lg-5 mx-auto">
      <select name="" class="form-control" id="c"  #input (change)='updateValues(input.value)'>
        <option value="" [selected]="true">Select Country</option>
        <option value="{{con.Slug}}" *ngFor='let con of countryList'>{{con.Country}}</option>
      </select>
    </div>
  </div>
</div>
<div class="row ca">
  <div class="ui link centered cards">
    <div class="purple card">
      <div class="content center aligned">
        <div class="header"  [countUp]="totalConfirmed" >0</div>
        <div class="meta">
          <a>Confirmed</a>
        </div>
        <div class="description">
          Number of active cases COVID-19
        </div>
      </div>
      <div class="extra content center aligned">
        <span class="floated">
          {{currentDate | date}}
        </span>
      </div>
    </div>
    <div class="green card">
      <div class="center aligned content">
        <div class=" header" [countUp]="totalRecovered">0</div>
        <div class="meta">
          <span class="date">Recovered</span>
        </div>
        <div class="description">
          Number of Recover cases COVID-19
        </div>
      </div>
      <div class="extra content center aligned">
        <span class="floated">
          {{currentDate | date}}
        </span>
      </div>
    </div>
    <div class="red card">
      <div class="content center aligned">
        <div class="header" [countUp]="totalDeath">0</div>
        <div class="meta">
          <a>Death</a>
        </div>
        <div class="description">
          Number of death cases COVID-19
        </div>
      </div>
      <div class="extra content center aligned">
        <span class="floated">
          {{currentDate | date}}
        </span>
      </div>
    </div>
  </div>
</div>


