<ngx-ui-loader></ngx-ui-loader>
<div class="row ca">
  <div class="ui link centered cards">
    <div class="purple card">
      <div class="content center aligned">
        <div class="header">{{totalConfirmed}}</div>
        <div class="meta">
          <a>Confirmed</a>
        </div>
        <div class="description">
          Number of active cases COVID-19
        </div>
      </div>
      <div class="extra content center aligned">
        <span class="floated">
          Joined in 2013
        </span>
      </div>
    </div>
    <div class="green card">
      <div class="center aligned content">
        <div class=" header">{{totalRecovered}}</div>
        <div class="meta">
          <span class="date">Recovered</span>
        </div>
        <div class="description">
          Number of Recover cases COVID-19
        </div>
      </div>
      <div class="extra content center aligned">
        <span class="floated">
          Joined in 2013
        </span>
      </div>
    </div>
    <div class="red card">
      <div class="content center aligned">
        <div class="header">{{totalDeath}}</div>
        <div class="meta">
          <a>Death</a>
        </div>
        <div class="description">
          Number of death cases COVID-19
        </div>
      </div>
      <div class="extra content center aligned">
        <span class="floated">
          Joined in 2013
        </span>
      </div>
    </div>
  </div>
  </div>
